.mingzat-regular {
    font-family: "Mingzat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header, footer {
    background-color: #332d22;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: underline green;
}

main {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 5%;
    background-color: rgb(201, 183, 160);
}

.container {
    width: 40%;
    background-color: #353232;
    color: #f4f4f4;
    text-align: center;
}

.sidebar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .caja1{
    background-color: rgb(32, 82, 97);
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    color: white;
    text-align: center;

}

.sidebar .caja-cajon {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.sidebar .caja-cajon .logros .presentacion{
    border: black solid 2px;
    padding: 20px;
    width: 50%;
    
}

.logros {
    background-color: rgb(32, 82, 97);
    border: black solid 2px;
    padding: 20px;
    width: 50%;
    margin: 0px 20px 0px  0px;
    color: white;
    font-family: "Mingzat", sans-serif, ;
}

.presentacion {
    background-color: rgb(32, 82, 97);
    border: black solid 2px;
    padding: 20px;
    width: 50%;
    margin: 0px 0px 0px 20px;
    color: white;
}